{{ partial "header.html" . }}
    <!-- 記事10件を抽出してlist_tag.htmlのレイアウトで表示 -->
    {{ range (.Paginator 10).Pages }}
        {{ .Render "list_tag" }}
    {{ end }}   
 
    <!-- 記事の前後に移るためのページネータを作成 -->
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <div>
        <nav role="pagination">
            {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}" class="">前へ</a> 
            {{ end }}
            <span class="">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
            {{ if .Paginator.HasNext }}
             <a href="{{ .Paginator.Next.URL }}" class="">次へ</a>
            {{ end }}
        </nav>
    </div>
    {{ end }}
<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fa fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fa fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>


{{ partial "footer.html" . }}
