.header img {
  width: 35%;
}
.banner, .newFeatures {
  height: 223px;
}
.col-xs {
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  margin: 0 .8% 16px;
  width: 31.7%;
  padding: .9375rem;
}
.row {
  margin-right: -.9375rem;
  margin-left: -.9375rem;
  display: -webkit-box;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.visual h3
{
  margin: 0 0 1em 0;
  font-size: 2.4rem;
  line-height: 1.2;
}
#sidebar,#header-wrapper {
  background-color: #272822;
  border-bottom: none;
  background-color: #FFBF00;
}
.searchbox {
  background-color: #777;
  border: none;
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: #272822;
  background-color: #FFBF00;
}
#sidebar a {
  color: #424242;
}
#sidebar a:hover {
  color: #999999;
}
#footer > div {
  color: #424242;
  font-size: 120%;
}
h1 {
  text-align: left;
}
#tags {
  float:none;
}
#tags:before {
  content: "タグ：";
}